@import 'tailwindcss';

:root {
	--background: #171717;
	--foreground: #ffffff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-dark: #171717;
	--color-dark-hover: #222222;
	--color-primary: #ffffff;
	--color-secondary: #b5bdc9;
	--color-tertiary: #717478;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

/* Global Custom Scrollbar */
* {
	scrollbar-width: thin;
	scrollbar-color: #333333 transparent;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: #333333;
	border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
	background: #444444;
}

/* Firefox */
.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #333333 transparent;
}

/* Hidden Scrollbar */
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.hide-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
}
